<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up Form</h1>
    <form method="POST" action="/signup">
        <label>Username</label>
        <input type="text" placeholder="Username" required name="name">
        <label>Email</label>
        <input type="email" placeholder="example@xxx.com" required name="email">
        <label>Password</label>
        <input type="password" placeholder="password" required name="password">
        <input type="submit" placeholder="Sign Up">
    </form>
</body>
</html>